# Build results
bin/
obj/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Rider / VS Code
.idea/
.vscode/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Test results
TestResults/

# NuGet
packages/
*.nupkg

# App settings (caso tenha configs sensíveis)
appsettings.Development.json
